@media screen and (max-width: 480px){
    header {
        background-color:aquamarine;
        flex-direction:column;
        height:176px;
        padding-bottom: 17px;
        
    }
.menu-cabecera{
      display:flex;
      flex-direction: row;
      align-items:center;
    }
    header .menu-cabecera{

    }
    .seccion-audio-article{
flex-direction:column;
}
.seccion-video-article{

}
.contenedor-adornos{
    display:none
}
}
