.seccion-videos{
    /* background-color:tomato;
    border:3px solid */
padding:100px;
display: flex;
justify-content:center;
}
.seccion-videos article{
    background-color:var(--color-contenedor-video);
    padding:30px;
    width: 800px;
    height:500px;
    display:flex;
    align-items:center;
    justify-content:center;


}