.seccion-buscador{
    background-color: var(--primer-color);
    height: var(--alto-contenedor);
}
.contenedor{
   background-color: chartreuse; 
   margin-left: 10%;
   padding-right: 10%;
   position: relative;
}
.contenedor-persona{
    position:relative;
    right: 0;
    background-color: blueviolet;
    height: var(--alto-contenedor);
    width: 500px;
}
.contenedor-persona.fondo{
    position: absolute;
    right:0;
}
.contenedor-persona .persona{
    position:absolute;
    right:0;
}
.contenedor-adornos{
    background-color:coral;
    width:100;
    height: : var(--alto-contenedor);
    position: absolute;
   
    margin:auto;
    right: 0;
    left: 0;
    top:0;
    bottom:0;
}

@keyframes deslizarCentro{
    from{
        left: -300px;
    }
    to{
        left:30%;
    }
}

@keyframes deslizaIzq{
from{
    left: -200px;
}
to{
    left:0%;
}
}
@keyframes deslizaDer{
    from{
        right: -400px;
    }
    to{
        right:0%;
    }
}